<footer class="footer">
  <div class="footer-content">
    <span>
      Website designed & programmed by 
      <strong>Noora Al-Qahtani</strong>, 
      <strong>Mohammed Al-Abdulla</strong>, 
      <strong>Shahnaz Al-Qassab</strong>
      &copy; <%= new Date().getFullYear() %>
    </span>
  </div>
</footer>