<nav>
  <li>
    <% if (user) { %> 
    <a href="/user/signOut">Sign Out</a>
    <a href="">Dashboard</a>
    <% } else { %>
    <a href="/user/signIn">Sign in</a>
    <a href="/user/signUp">Sign Up</a>
    <% } %>
  </li>
</nav>


