<nav>
  <!-- Add navigation links if needed -->
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/user/signIn">Sign In</a></li>
    <li><a href="/user/signUp">Sign Up</a></li>
  </ul>
</nav>
