<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-brand">MyApp</a>
    <ul class="navbar-links">
      <li><a href="/">Home</a></li>
      <li><a href="/user/signIn">Sign In</a></li>
      <li><a href="/user/signUp">Sign Up</a></li>
    </ul>
  </div>
</nav>
