<%- include('./partials/_head.ejs') %>
<%- include('./partials/_navbar.ejs') %>


<body>
<h1>Meet the team behind this:</h1>
<hr>
<h3>Mohammed Al-Abdulla:</h3>
<p>The senior designer of the interface</p>
<hr>
<h3>Shahnaz Al-Qassab</h3>
<p>The trouble-maker</p>
<hr>
<h3>Noora Al-Qahtani</h3>
<p>The brain behind the scene</p>

</body>
<%- include('./partials/_footer.ejs') %>
