<%- include('./partials/_head.ejs') %> <%- include('./partials/_navbar.ejs') %>

<body>
  <h1>Hi from the STICK A NOTE HOMEPAGE</h1>
 <img src="/images/picture1.jpeg" alt="" /> 
  <!-- <div class="box-container"> -->
    <div class="box">Box 1</div>
    <div class="box">Box 2</div>
    <div class="box">Box 3</div>
    <div class="box">Box 4</div>
  </div>
</body>
<%- include('./partials/_footer.ejs') %>
