<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Home</title>
</head>
<body class="Home">
  <div style="display: flex; gap: 1rem; justify-content: center; align-items: center;">

    <h1 class="h1-Home">
        WHERE <span class="highlight">SELLERS</span><br />
        MEET <span class="highlight">BUYERS</span>,<br />
        INSTANTLY AND<br />
        SEAMLESSLY
      </h1>

   <a href="/user/signIn" class="signInUp">Sign In</a>

  <a href="/user/signUp" class ="signInUp">Sign Up</a>
</body>
</html>