<%- include('./partials/_head.ejs') %> <%- include('./partials/_navbar.ejs') %>

<body>
  <h1>Hi from the STICK A NOTE HOMEPAGE</h1>
 <img src="/images/picture1.gif" alt="photo" /> 
  
  </div>
</body>
<%- include('./partials/_footer.ejs') %>
