<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet"/>
  <title>Document</title>
</head>

<body>
    <h1 class="h1-Home"> STICK A NOTE </h1>
        <div class= "div-Home">
      <a href="/user/signIn" class="a-Home">Sign In</a
      >
      <a href="/user/signUp" class="a-Home2">Sign Up</a>
    </div>

  <h1>WELCOME TO MSN BAHRAIN</h1>
  <img src="/images/picture1.gif" alt="photo" /> 
  

  </div>
</body>

<%- include('./partials/_footer.ejs') %>