<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MSN Bahrain</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="Home">
  <%- include('./partials/_navbar.ejs') %>
  <div class="main-center-container">
    <h1 class="h1-Home">
      WHERE <span class="highlight">SELLERS</span><br />
      MEET <span class="highlight">BUYERS</span>,<br />
      INSTANTLY AND<br />
      SEAMLESSLY
    </h1>
    <button class="show-categories-btn" id="showCategoriesBtn">
      Show Categories
    </button>
    <div class="ads-container" id="categories-container" style="display: none;">
      <div class="bar-box">
        <img src="/images/picre1.gif" alt="Phones" />
        <a href="/Ads/categories?category=phones">Phones</a>
      </div>
      <div class="bar-box">
        <img src="/images/riding-reversing.gif" alt="Cars" />
        <a href="/Ads/categories?category=cars">Cars</a>
      </div>
      <div class="bar-box">
        <img src="/images/forte-love.gif" alt="Book" />
        <a href="/Ads/categories?category=books">Books</a>
      </div>
      <div class="bar-box">
        <img src="/images/laptop_smmbcxkk.gif" alt="Laptop" />
        <a href="/Ads/categories?category=laptop">Laptop</a>
      </div>

      <div class="bar-box">
        <img src="/images/107ave-eng.gif" alt="Spare Parts" />
        <a href="/Ads/categories?category=Spare Parts">Spare Parts</a>
      </div>
    </div>
    </div>
  </div>
  <%- include('./partials/_footer.ejs') %>
  <script>
    document.getElementById('showCategoriesBtn').onclick = function() {
      const ads = document.getElementById('categories-container');
      ads.style.display = ads.style.display === 'flex' ? 'none' : 'flex';
      return false;
    };
  </script>
</body>
</html>