<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<body>
    <h1> THE DASHBOARD OF THE USER </h1>
    

    <a href="/user/<%= user._id %>/Ads">
        <p>Your Ads</p>
    </a>

</body>
<%- include('../partials/_footer') %>