<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<body class="auth-bg">
  <div class="auth-center-container">
    <div class="signin-box">
      <h1 class="h1-SignIn">Sign In</h1>
      <form action="/user/signIn" method="POST">
        <label for="username">Username</label>
        <input class="input" type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input class="input" type="password" id="password" name="password" required>
        <button class="input-submit" type="submit">Sign In</button>
      </form>
      <div class="signin-extra">
        <span>Don't have an account?</span>
        <a href="/user/signUp" class="signInUp">Sign Up</a>
      </div>
      <!-- Modern Ads Box -->
      <div class="ads-box-modern">
        <img src="/images/picre1.gif" alt="Ad" class="ads-box-modern-img">
        <div>
          <div class="ads-box-modern-title">Discover Great Deals!</div>
          <div class="ads-box-modern-desc">Browse or post your own ads after signing in.</div>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('../partials/_footer.ejs') %>