<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<body>
  <div class="container">
    <h1>Sign Up</h1>
    <form action="/user/signUp" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
<br>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>
<br>
      <label for="contactNo">Contact No.:</label>
      <input type="number" id="contactNo" name="contactNo" required>
<br>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>
<br>
      <button type="submit">Sign Up</button>

    </form>
  </div>
</body>
</html>
