<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<body>
    <div class="container">
        <div class="signin-box" >
            <h1 class="h1-SignIn">Sign Up</h1>
            <form action="/user/signUp" method="POST">

                <label for="username">Username:</label>
                <input class="input" type="text" id="username" name="username" required >

                <label for="password">Password:</label>
                <input class="input" type="password" id="password" name="password" required >

                <label for="confirmPassword">Confirm Password:</label>
                <input class="input" type="password" id="confirmPassword" name="confirmPassword" required >

                <label for="contactNo">Contact No.:</label>
                <input class="input" type="number" id="contactNo" name="contactNo" required >

                <label for="email">Email:</label>
                <input class="input" type="email" id="email" name="email" required >

                <button class="input-submit" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</body>
<%- include('../partials/_footer.ejs') %>