<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<body>
  <div class="container">
    <h1>Sign Up</h1>
    <form action="/user/signUp" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>

      <label for="contactNo">Contact No.:</label>
      <input type="number" id="contactNo" name="contactNo" required>

      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>

      <button type="submit">Sign Up</button>

      <div class="box-container">
  <div class="box">Box 1</div>
  <div class="box">Box 2</div>
  <div class="box">Box 3</div>
  <div class="box">Box 4</div>
</div>

    </form>
  </div>
</body>
</html>
