<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<body>
    <div class="container">
        <div class="signin-box" >
            <h1 class="h1-SignIn">Sign In</h1>
            <form action="/user/signIn" method="POST">
                <label for="username">Username:</label>
                <input class="input" type="text" id="username" name="username" required >
                <label for="password">Password:</label>
                <input class="input" type="password" id="password" name="password" required >
                <button class="input-submit" type="submit" >Sign In</button>
            </form>
        </div>
    </div>
</body>
<%- include('../partials/_footer.ejs') %>