<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<body class="auth-bg">
  <div class="auth-center-container">
    <div class="signin-box" style="max-width: 400px; width: 100%;">
      <h1 class="h1-SignIn"><i class="fa fa-user-plus"></i> Sign Up</h1>
      <form action="/user/signUp" method="POST" autocomplete="off">
        <div style="display: flex; flex-direction: column; gap: 1rem;">
          <div class="form-group">
            <label for="username"><i class="fa fa-user"></i> Username</label>
            <input class="input" type="text" id="username" name="username" required>
          </div>

          <div class="form-group">
            <label for="password"><i class="fa fa-lock"></i> Password</label>
            <input class="input" type="password" id="password" name="password" required>
          </div>

          <div class="form-group">
            <label for="confirmPassword"><i class="fa fa-lock"></i> Confirm Password</label>
            <input class="input" type="password" id="confirmPassword" name="confirmPassword" required>
          </div>

          <div class="form-group">
          <label for="contactNo"><i class="fa fa-phone"></i> Contact No.</label>
          <input class="input" type="tel" id="contactNo" name="contactNo" pattern="[0-9]{8,15}" required>

          <label for="email"><i class="fa fa-envelope"></i> Email</label>
          <input class="input" type="email" id="email" name="email" required>
        </div>
        <button class="input-submit" type="submit" style="margin-top: 1.2rem;">
          <i class="fa fa-user-plus"></i> Sign Up
        </button>
      </form>
      <div class="signin-extra">
        <span>Already have an account?</span>
        <a href="/user/signIn" class="signInUp">Sign In</a>
      </div>
    </div>
  </div>
</body>
<%- include('../partials/_footer.ejs') %>