<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<body>
  <h1 >Phones</h1>
  <div class="container">
  <div class="signin-box">
    <% ad.forEach(ad => { %>
       <h4><%= ad.name %></h4>
      <% }) %>
   
    </div>
    </div>
</body>
<%- include('../partials/_footer.ejs') %>