<body>
  <h1>Add Ads</h1>
  <form action="/ads/<%= user._id %>/Ads" method="POST" enctype="multipart/form-data">
    <label for="img">Upload Image:</label>
  <input type="file" name="img" id="img" accept="image/*" required>
    <br>

    <label for="title">title</label>
    <input type="text" name="title" id="title">
    <br>

    <label for="price">price</label>
    <input type="text" name="price" id="price">
    <br>

    <label for="description">description</label>
    <textarea type="text" name="description" id="description"></textarea>
    <br>


    <label for="category">category</label>
    <select name="category" id="category">
        <option value="books">books</option>
        <option value="phones">phones</option>
        <option value="cars">cars</option>
        <option value="spare parts">spare parts</option>
    </select>
    <br>

<button type="submit">submit</button>
  </form>
</body>