<body>
  <h1>Add Ads</h1>
  <form action="/ads/<%= user._id %>/Ads" method="POST">
    <label for="img">Image</label>
    <input type= "image" name ="img" id="img">
    <br>

    <label for="title">title</label>
    <input type="text" name="title" id="title">
    <br>

    <label for="price">price</label>
    <input type="text" name="price" id="price">
    <br>

    <label for="description">description</label>
    <textarea type="text" name="description" id="description"></textarea>
    <br>

    <label for="category">category</label>
    <select name="category" id="category">
      <option value="items">Items (Phone, Car's, Book, Laptop)</option>
    </select>
    <br>

    <label for="type">type</label>
    <select name="type" id="type">
      <option value="phone">Phone</option>
      <option value="car">Car's</option>
      <option value="book">Book</option>
      <option value="laptop">Laptop</option>
    </select>
    <br>

    <button type="submit">submit</button>
  </form>
</body>