<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<body>
  <div class="container">
  <div class="signin-box" >
  <h1 class="h1-SignIn">Add Ads</h1>
  <form action="/Ads/<%= user._id %>/Ads" method="POST" enctype="multipart/form-data">


    <label for="img">Image</label>
    <input class="input" type="file" name="img" accept="image/*"/>
  <br>


  <label for="title">Title</label>
  <input class="input"type="text" name="title" id="title">
  <br>

  <label for="price">Price</label>
  <input class="input" type="text" name="price" id="price" >
  <br>

    <label  for="description">Description</label>
    <textarea class="input" type="text" name="description" id="description"></textarea>
    <br>

    <label  for="category">Category</label>
    <select class="input" name="category" id="category">
    <option value="phones">Phones</option>
    <option value="cars">Cars</option>
    <option value="books">Books</option>
    <option value="spare parts">Spare Parts</option>
    <option value="laptop">Laptop</option>
  </select>
    <br>

    <button class="input-submit" type="submit">Submit</button>
  </form>
  </div>
  </div>
</body>

<%- include('../partials/_footer.ejs') %>
